.voice-memo-overlay {
	position: fixed;
	z-index: 10000;
	background: var(--background-primary);
	border: 1px solid var(--background-modifier-border);
	border-radius: 8px;
	padding: 10px;
	display: flex;
	gap: 8px;
	align-items: center;
}

@media (min-width: 601px) {
	.voice-memo-overlay {
		bottom: 20px;
		right: 20px;
	}
}

.recording-indicator {
	color: red;
	font-weight: bold;
}

.modal-button-row {
	display: flex;
	flex-direction: row;
	justify-self: center;
	gap: 1em;
}

/* Mobile */
@media (max-width: 600px) {
	.voice-memo-overlay {
		top: 8%;
		left: 50%;
		transform: translateX(-50%);
	}

	.recording-stop {
		border-radius: 4px;
	}

	.modal-button-row {
		button {
			border-radius: 4px;
		}
	}
}
